GELB = 0xFDE100
ROT = 0xFF0000
GRUEN = 0x00FF00
WEISS = 0xFFFFFF
ORANGE = 0xFFA500

p=println
pe={pause() exit()}

color(GELB);
p("TegraScript Syncfix.te von MezBar");
p("Portiert zu TegraScript v3 von xHR")
p("Deutsche Uebersetzung von SwitchBros.")
p();
p("Dieses Script behebt JoyCon Syncronisierungsprobleme zwischen sysMMC und emuMMC");
p();
p("BEVOR du es ausfuehrst, syncronisiere alle Joycons und Controller im sysMMC");
p();
color(ROT);
p("Wenn du 90DNS oder andere DNS Einstellungen zum Schutz benutzt aktiviere den");
p("Flugmodus im sysMMC und emuMMC, weil dieses Script ebenfalls die");
p("WiFi-Einstellung vom sysMMC zum emuMMC kopiert!");
p();
color(GRUEN);
p("Benutzt du Incognito brauchst du nicht in den Flugmodus gehen");
p("aber du musst deine Internet Einstellungen im emuMMC neu eintragen");
p();
color(WEISS);

p();
p("Druecke X um WiFi und Blueooth Einstellungen vom sysMMC zum emuMMC zu kopieren");
p();
color(GELB);
p("Beliebige andere Taste zum verlassen");
p();

op=["Exit","Syncronisiere WiFi und Blueooth Einstellungen vom sysMMC zum emuMMC"].copy()
if (emu()){op+"loesche emuMMC"}
r=menu(op,0)clear()
if(r==0){exit()}

p();
if(r==1){if(!emu()){p("emuMMC nicht gefunden!")pe()}}
color(WEISS);
p("Einbinden vom SYSMMC...");
if(mountsys("SYSTEM")){p("Einbinden fehlgeschlagen!")pe()}

mkdir("sd:/tegraexplorer");
mkdir("sd:/tegraexplorer/syncfix");
mkdir("sd:/tegraexplorer/syncfix/backup");
p("Sichere sysMMC Datei: 8000000000000050 nach sd:/tegraexplorer/syncfix/backup");
copyfile("bis:/save/8000000000000050", "sd:/tegraexplorer/syncfix/backup/8000000000000050_sysmmc_backup");


color(WEISS);
p("Einbinden vom emuMMC");
if(mountemu("SYSTEM")){p("System konnte nicht eingebunden werden!")pe()}
p("Sichere emuMMC Datei: 8000000000000050 nach sd:/tegraexplorer/syncfix/backup");
p();
copyfile("bis:/save/8000000000000050", "sd:/tegraexplorer/syncfix/backup/8000000000000050_emummc_backup");


p("Kopiere Datei: 8000000000000050 vom sysMMC zum emuMMC");
p();
copyfile("sd:/tegraexplorer/syncfix/backup/8000000000000050_sysmmc_backup", "bis:/save/8000000000000050");


color(GRUEN);
p("ABGESCHLOSSEN!");
p();
p("Jetzt sollten deine Joycons zwischen sysMMC und emuMMC syncronisiert sein");
p();

color(GELB);
p("Druecke eine beliebige Taste um das Skript zu beenden");

pe();