BLUE = 0x0000FF
YELLOW = 0xFDE100
RED = 0xFF0000
GREEN = 0x00FF00
WHITE = 0xFFFFFF
ORANGE = 0xFFA500
VIOLET = 0x8F00FF

p=println
pe={pause() exit()}

color(YELLOW);
p("TegraScript Syncfix.te von MezBar");
p("Portiert zu TegraScript v3 von xHR")
p("Deutsche Uebersetzung von BeckysFootSlave")
p("");
p("Dieses Script behebt Joycon Syncronisierungsprobleme");
p("zwischen sysMMC und emuMMC");
p("BEVOR du das Script benutzt,");
p("syncronisiere alle Joycons und Controller im sysMMC");
p("");
color(RED);
p("Wenn du 90DNS oder andere DNS Einstellungen zum Schutz benutzt");
p("aktiviere den Flugmodus im sysMMC und emuMMC, ");
p("weil dieses Script ebenfalls die WiFi-Einstellung");
p("vom sysMMC zum emuMMC kopiert");
p("");
color(GREEN);
p("Benutzt du incognito brauchst du nicht in den Flugmodus gehen");
p("aber du musst deine Internet Einstellungen im emuMMC neu eintragen");
p("");
color(YELLOW);
p("");
p("Druecke X um die WiFi und Bluetooth Einstellungen vom sysMMC zum emuMMC zu kopieren");
p("");
p("Beliebige andere Taste zum verlassen");
p("");

op=["Exit","Syncronisiere WiFi und Bluetooth Einstellungen vom sysMMC zum emuMMC"].copy()
if (emu()){op+"loesche emummc"}
r=menu(op,0)clear()
if(r==0){exit()}

p("");
if(r==1){if(!emu()){p("emuMMC nicht gefunden!")pe()}}

p("Lade SYSMMC...");
if(mountsys("SYSTEM")){p("Laden fehlgeschlagen!")pe()}

mkdir("sd:/tegraexplorer");
mkdir("sd:/tegraexplorer/syncfix");
mkdir("sd:/tegraexplorer/syncfix/backup");
p("Speichere sysMMC 8000000000000050 Datei nach sd:/tegraexplorer/syncfix/backup");
copyfile("bis:/save/8000000000000050", "sd:/tegraexplorer/syncfix/backup/8000000000000050_sysmmc_backup");

p("Lade emuMMC");
if(mountemu("SYSTEM")){p("Laden fehlgeschlagen!")pe()}
p("Erstelle Sicherung von emuMMC 8000000000000050 Datei in sd:/tegraexplorer/syncfix/backup");
p("");
copyfile("bis:/save/8000000000000050", "sd:/tegraexplorer/syncfix/backup/8000000000000050_emummc_backup");

p("Kopiere 8000000000000050 Datei von sysMMC nach emuMMC");
p("");
copyfile("sd:/tegraexplorer/syncfix/backup/8000000000000050_sysmmc_backup", "bis:/save/8000000000000050");

color(GREEN);
p("ABGESCHLOSSEN!");
p("");
p("Jetzt sollten deine Joycons zwischen sysMMC und emuMMC syncronisiert sein");
p("");

color(YELLOW);
p("Beliebige Taste zum verlassen");

pe();