#REQUIRE SD
#REQUIRE KEYS
#REQUIRE VER 4.0.0

partNames = ["SYSTEM", "USER"]
menuOptions = ["Beenden"].copy()

partNames.foreach("x"){
	menuOptions.add("sysMMC " + x)
}

if (emu()){
	menuOptions.add("emuMMC " + x)
}

res = menu(menuOptions, 0)

if (!res){
	exit()
}

clear()

if (res % 2) {
	mountStr = "SYSTEM"
}.else() {
	mountStr = "USER"
}

if (res > 2) {
	mount = mountemu
}.else() {
	mount = mountsys
}

if (mount(mountStr)){
	println("Mounten fehlgeschlagen!")
	pause()
	exit()
}

cpSaveFolder = menuOptions[res]
cpSavePath = combinepath("sd:/Firmware/", cpSaveFolder)
mkdir("sd:/Firmware")
mkdir(cpSavePath)

res = copydir("bis:/save", cpSavePath)
if (res) {
    println("Kopieren fehlgeschlagen! Fehlercode: ", res)
}.else() {
	println("Abgeschlossen!")
}
pause()