BLUE = 0x0000FF
LBLUE = 0x00DDFF
YELLOW = 0xFDE100
RED = 0xFF0000
DRED = 0xE70000
GREEN = 0x00FF00
LGREEN = 0x40FF00
WHITE = 0xFFFFFF
ORANGE = 0xFFA500
VIOLET = 0x8F00FF

println()
color(YELLOW)
println()
println("                         ***** SwitchBros. Updater *****")
println()
println()
color(LGREEN)
println("Dieses Update Script, aktualisiert euer SwitchBros.")
println("auf die neuste Atmosphere CFW Version.")
println()
println()
color(WHITE)
println("Switch Lite und Tablet Nutzer:")
println()
println("Vol + / -    : navigieren / abbrechen / beenden")
println("Power Button : bestaetigen")
println()
println()
color(YELLOW)
println("Druecke die A Taste, um SwitchBros. zu aktualisieren.")
color(LBLUE)
println("SwitchBros. Version: 111")
println()
color(DRED)
println("Druecke zum Beenden die B Taste.")
color(WHITE)

if (!pause().a) {
    exit()
}

println()
println()
println()
println("SwitchBros. wird aktualisiert...")
println()
color(WHITE)
println("Bereinige:")
color(DRED)

if (fsexists("sd:/atmosphere/contents/0100000000000008")) {
    deldir("sd:/atmosphere/contents/0100000000000008")
}
if (fsexists("sd:/atmosphere/contents/010000000000000D")) {
    deldir("sd:/atmosphere/contents/010000000000000D")
}
if (fsexists("sd:/atmosphere/contents/010000000000002B")) {
    deldir("sd:/atmosphere/contents/010000000000002B")
}
if (fsexists("sd:/atmosphere/contents/0100000000000032")) {
    deldir("sd:/atmosphere/contents/0100000000000032")
}
if (fsexists("sd:/atmosphere/contents/0100000000000034")) {
    deldir("sd:/atmosphere/contents/0100000000000034")
}
if (fsexists("sd:/atmosphere/contents/0100000000000036")) {
    deldir("sd:/atmosphere/contents/0100000000000036")
}
if (fsexists("sd:/atmosphere/contents/0100000000000037")) {
    deldir("sd:/atmosphere/contents/0100000000000037")
}
if (fsexists("sd:/atmosphere/contents/0100000000000042")) {
    deldir("sd:/atmosphere/contents/0100000000000042")	
}
if (fsexists("sd:/atmosphere/contents/010000000000003C")) {
    deldir("sd:/atmosphere/contents/010000000000003C")
}
if (fsexists("sd:/atmosphere/contents/0100000000000081")) {
    deldir("sd:/atmosphere/contents/0100000000000081")
}
if (fsexists("sd:/atmosphere/contents/0100000000001000")) {
    deldir("sd:/atmosphere/contents/0100000000001000")
}
if (fsexists("sd:/atmosphere/contents/0100000000001007")) {
    deldir("sd:/atmosphere/contents/0100000000001007")
}
if (fsexists("sd:/atmosphere/contents/0100000000001013")) {
    deldir("sd:/atmosphere/contents/0100000000001013")
}
if (fsexists("sd:/atmosphere/contents/00FF0000636C6BF1")) {
    deldir("sd:/atmosphere/contents/00FF0000636C6BF1")	
}
if (fsexists("sd:/atmosphere/contents/4200000000000000")) {
    deldir("sd:/atmosphere/contents/4200000000000000")	
}
if (fsexists("sd:/atmosphere/contents/420000000000000E")) {
    deldir("sd:/atmosphere/contents/420000000000000E")
}
if (fsexists("sd:/atmosphere/contents/420000000007E51A")) {
    deldir("sd:/atmosphere/contents/420000000007E51A")
}
if (fsexists("sd:/switch/btpair")) {
    deldir("sd:/switch/btpair")
}
if (fsexists("sd:/sept/")) {
    deldir("sd:/sept/")
}
if (fsexists("sd:/config/MissionControl")) {
    deldir("sd:/config/MissionControl")
}
if (fsexists("sd:/atmosphere/exefs_patches")) {
    deldir("sd:/atmosphere/exefs_patches")
}
if (fsexists("sd:/atmosphere/kip_patches")) {
    deldir("sd:/atmosphere/kip_patches")
}
if (fsexists("sd:/atmosphere/hosts")) {
    deldir("sd:/atmosphere/hosts")
}
if (fsexists("sd:/switch/ChoiDujourNX")) {
    deldir("sd:/switch/ChoiDujourNX")
}
deldir("sd:/bootloader/sys")
deldir("sd:/bootloader/res")
delfile("sd:/bootloader/payloads/hwfly_toolbox.bin")
delfile("sd:/bootloader/update.bin")
delfile("sd:/bootloader/hekate_ipl.ini")
delfile("sd:/bootloader/patched.ini")

deldir("sd:/atmosphere/extras")
deldir("sd:/atmosphere/contents/0100000000000081")
delfile("sd:/atmosphere/extras/BCT.ini")

deldir("sd:/config/luigi-theme-updater")
deldir("sd:/config/mario-theme-updater")
deldir("sd:/config/fw-downloader")

deldir("sd:/sept")
deldir("sd:/tools")
deldir("sd:/Firmware 15.0.0")
deldir("sd:/Firmware 14.1.2v4")
deldir("sd:/Firmware 14.1.2v3")
deldir("sd:/Firmware 14.1.2v2")
deldir("sd:/Firmware 14.1.2_v4")
deldir("sd:/Firmware 14.1.2_v3")
deldir("sd:/Firmware 14.1.2_v2")
deldir("sd:/Firmware 14.1.2")
deldir("sd:/Firmware 14.1.1")
deldir("sd:/Firmware 14.1.0")
deldir("sd:/Firmware 14.0.0")
deldir("sd:/Firmware 13.2.1")
deldir("sd:/Firmware 13.2.0")
deldir("sd:/Firmware 13.1.0")
deldir("sd:/Firmware 13.0.0")
deldir("sd:/Firmware 12.1.0")
deldir("sd:/Firmware 12.0.3")
deldir("sd:/Firmware 12.0.2")
deldir("sd:/Firmware 12.0.1")
deldir("sd:/Firmware 12.0.0")
deldir("sd:/Firmware 11.0.1")
deldir("sd:/Firmware 11.0.0")
delfile("sd:/fusee-primary.bin")
deldir("sd:/System Volume Information")

deldir("sd:/switch/.overlays")
deldir("sd:/switch/tinfoil-store-premium")
deldir("sd:/switch/luigi-theme-updater")
deldir("sd:/switch/mario-theme-updater")
deldir("sd:/switch/Shutdown")
deldir("sd:/switch/Reboot")
deldir("sd:/switch/tinfoil-store-updater")
deldir("sd:/switch/appstore")
deldir("sd:/switch/amsPACKM-downloader")
deldir("sd:/switch/amsPACKE-downloader")
deldir("sd:/switch/amsPACK-E-downloader")
deldir("sd:/switch/amsPACK-M-downloader")
deldir("sd:/switch/amsPACK-A-downloader")
deldir("sd:/switch/download-helper")
deldir("sd:/switch/btpair")
if (fsexists("sd:/switch/ChoiDujourNX.nro")) {
    delfile("sd:/switch/ChoiDujourNX.nro")
}

delfile("sd:/scripts/Account_Transfer.te")
delfile("sd:/scripts/Extras_Activator.te")
delfile("sd:/scripts/Clean_amsPACK.te")
delfile("sd:/scripts/Custom_Theme_Remover.te")
delfile("sd:/scripts/Custom-Theme_Installer.te")
delfile("sd:/scripts/emuMMC_Joy-Con_Pairing.te")
delfile("sd:/scripts/emuMMC_Ordner_Installer.te")
delfile("sd:/scripts/emuMMC_Ordner_Remover.te")
delfile("sd:/scripts/Factory_Reset.te")
delfile("sd:/scripts/GC_Slot_Aktivator.te")
delfile("sd:/scripts/MissionControl_Installer.te")
delfile("sd:/scripts/MissionControl_Remover.te")
delfile("sd:/scripts/MultiBoot_Addons.te")
delfile("sd:/scripts/Spielstand_Dumpen.te")
delfile("sd:/scripts/System_Cleaner.te")
delfile("sd:/scripts/Tesla_FTP_Installer.te")
delfile("sd:/scripts/Tesla_FTP_Remover.te")
delfile("sd:/scripts/Tesla_Menue_Installer.te")
delfile("sd:/scripts/Tesla_Menue_Remover.te")
delfile("sd:/scripts/Theme_+_Tesla_+_MissionControl_Installer.te")
delfile("sd:/scripts/Theme_+_Tesla_Installer.te")
delfile("sd:/scripts/Theme_+_Tesla_Remover.te")
delfile("sd:/scripts/Grand_Theft_Auto_San_Andreas_Remover.te")
delfile("sd:/scripts/UndoClean_amsPACK.te")
delfile("sd:/scripts/FirmwareDump.te")

println()
color(WHITE)
println("Installiere:")
color(LGREEN)
copydir("sd:/amsPACK/atmosphere", "sd:/")
copydir("sd:/amsPACK/bootloader", "sd:/")
copydir("sd:/amsPACK/config", "sd:/")
copydir("sd:/amsPACK/Custom-Themes", "sd:/")
copydir("sd:/amsPACK/emuiibo", "sd:/")
copydir("sd:/amsPACK/emuMMC", "sd:/")
copydir("sd:/amsPACK/music", "sd:/")
copydir("sd:/amsPACK/scripts", "sd:/")
copydir("sd:/amsPACK/switch", "sd:/")
copydir("sd:/amsPACK/tools", "sd:/")
copyfile("sd:/amsPACK/exosphere.ini", "sd:/exosphere.ini")
copyfile("sd:/amsPACK/hbmenu.nro", "sd:/hbmenu.nro")
copyfile("sd:/amsPACK/payload.bin", "sd:/payload.bin")

color(WHITE)
println()
println()
println()
println("amsPACK-E wurde erfolgreich aktualisiert!")
println()
println("Druecke eine beliebige Taste, zum fortfahren.")
pause()

clear()

println()
color(LBLUE)
println()
println("          ***** Custom Theme + Tesla + MissionControl Installer *****")
println()
println()
color(DRED)
println("Das Tesla Menue wird ueber die Tastencombo: L+R+PLUS aufgerufen.")
println()
println()
color(LGREEN)
println("Dieses Script aktiviert die in amsPACK-E enthaltenen Extras.")
println("Das Custom Theme + Tesla inkl. Module + MissionControl muss nach jedem Update")
println("von amsPACK-E erneut durch das Ausfuehren dieses Scripts reaktiviert werden.")
println()
println()
color(LBLUE)
println("Was soll installiert werden:")
println()

menuOptions = ["[ALLES] Custom Theme + Tesla inkl. TriPlayer / FTP + MissionControl", "[MANUELL] Custom Theme + Tesla + MissionControl (empfohlen)", "[NICHTS] Custom Theme + Tesla + MissionControl"]
resMain = menu(menuOptions, 1)

clear()

if (resMain == 0) {
    println()
	println()
	println()
	println("Custom Theme + Tesla inkl. TriPlayer / FTP + MissionControl wird installiert...")
	println()
	color(WHITE)
	println("Installiere:")
	color(LGREEN)
	copydir("sd:/Custom-Themes/atmosphere", "sd:/")
	copydir("sd:/Custom-Themes/bootloader", "sd:/")
	copydir("sd:/Custom-Themes/switch", "sd:/")
	copydir("sd:/Custom-Themes/config", "sd:/")
	copydir("sd:/atmosphere/extras/contents/420000000007E51A", "sd:/atmosphere/contents")
	copydir("sd:/atmosphere/extras/contents/0100000000000352", "sd:/atmosphere/contents")
	copydir("sd:/atmosphere/extras/contents/420000000000000E", "sd:/atmosphere/contents")
	copydir("sd:/atmosphere/extras/contents/00FF0000636C6BFF", "sd:/atmosphere/contents")
	copydir("sd:/atmosphere/extras/switch", "sd:/")
	copydir("sd:/atmosphere/extras/tools", "sd:/")
	copydir("sd:/atmosphere/extras/atmosphere", "sd:/")
	copydir("sd:/atmosphere/extras/contents/4200000000000FFF", "sd:/atmosphere/contents")
	copydir("sd:/atmosphere/extras/switch/TriPlayer", "sd:/switch")
	copydir("sd:/atmosphere/extras/tools", "sd:/")
	copyfile("sd:/atmosphere/extras/switch/.overlays/5_ovl-TriPlayer.ovl", "sd:/switch/.overlays/5_ovl-TriPlayer.ovl")	
	color(LGREEN)
	println()
	println()
	println()
	println("Fertig!");
}

clear()

if (resMain == 2) {
    println()
	println()
	println()
	println("Custom Theme + Tesla inkl. TriPlayer / FTP + MissionControl wird entfernt...")
	println()
	color(WHITE)
	println("Loesche:")
	color(DRED)
	deldir("sd:/atmosphere/contents/0100000000001000")
	deldir("sd:/atmosphere/contents/0100000000001013")
	deldir("sd:/atmosphere/contents/0100000000001007")
	deldir("sd:/atmosphere/exefs_patches/NxThemesInstaller")
	deldir("sd:/atmosphere/exefs_patches/boot_logo")
	deldir("sd:/config/nx-hbmenu")
	delfile("sd:/switch/AtmoXL-Titel-Installer/background.png")
	delfile("sd:/bootloader/bootlogo.bmp")
	deldir("sd:/atmosphere/contents/010000000000bd00")
	deldir("sd:/atmosphere/exefs_patches/bluetooth_patches")
	delfile("sd:/atmosphere/config/missioncontrol.ini")
	delfile("sd:/atmosphere/config_templates/missioncontrol.ini")
	deldir("sd:/atmosphere/contents/420000000000000E")
	delfile("sd:/switch/.overlays/4_sys-ftpd-ovl.ovl")
    deldir("sd:/atmosphere/contents/420000000007E51A")
	deldir("sd:/atmosphere/contents/420000000000000E")
	deldir("sd:/atmosphere/contents/4200000000000FFF")
	deldir("sd:/atmosphere/contents/0100000000000352")
	deldir("sd:/atmosphere/contents/00FF0000636C6BFF")
	deldir("sd:/switch/.overlays")
	deldir("sd:/switch/TriPlayer")	
	delfile("sd:/tools/TriPlayer-01f0d84a52f2e000.nsp")
}

clear()

if (resMain == 1) {
    println()
    println()
	println()
	color(LBLUE)
    println("Installiert dein Custom Theme aus dem [Custom Theme] Ordner!")
	println()
	color(LGREEN)
	println("Sollte deine Switch Firmware noch zu niedrig sein, so passt das Theme")
	println("eventuell noch nicht zu deiner Firmware Version.")
	println("Hier solltest du zuerst [NEIN] waehlen und das Theme spaeter")
	println("ueber den [Theme Updater] neu runterladen.")
    println()
	color(WHITE)
    println("Moechtest du das [Theme] installieren?")
	println()
    menuOptionsYN = ["ja", "nein"]
    resYN = menu(menuOptionsYN, 0)
  
    clear()
  
    if (resYN == 0) {
        println()
        println()
        println()
        println("Das Custom-Theme wird installiert...")
        println()
		color(WHITE)
		println("Installiere:")
		color(LGREEN)
        copydir("sd:/Custom-Themes/atmosphere", "sd:/")
        copydir("sd:/Custom-Themes/bootloader", "sd:/")
        copydir("sd:/Custom-Themes/config", "sd:/")
        copydir("sd:/Custom-Themes/switch", "sd:/")
    }
	
    clear()

	if (resYN == 1) {
        println()
        println()
        println()
        println("Das Custom Theme wird entfernt...")
        println()
        color(WHITE)
        println("Loesche:")
        color(DRED)
        deldir("sd:/atmosphere/contents/0100000000001000")
        deldir("sd:/atmosphere/contents/0100000000001013")
        deldir("sd:/atmosphere/contents/0100000000001007")
        deldir("sd:/atmosphere/exefs_patches/NxThemesInstaller")
        deldir("sd:/atmosphere/exefs_patches/boot_logo")
        deldir("sd:/config/nx-hbmenu")
        delfile("sd:/switch/AtmoXL-Titel-Installer/background.png")
    }


    clear()

    println()
    println()
    println()
    color(LGREEN)
    println("Mit MissionControl kannst du einen PS4/PS5 oder Xbox One S/X Controller mit")
    println("deiner Switch koppeln.")
    println()
    color(WHITE)
    println("Moechtest du [MissionControl] installieren?")
    println()
    menuOptionsYN = ["ja", "nein"]
    resYN = menu(menuOptionsYN, 0)
      
    clear()
  
    if (resYN == 0) {
        println()
        println()
		println()
        println("Das MissionControl wird installiert...")
        println()
		color(WHITE)
		println("Installiere:")
		color(LGREEN)
        copydir("sd:/atmosphere/extras/atmosphere", "sd:/")
    }
	
    clear()
	
	if (resYN == 1) {
        println()
        println()
        println()
        println("Das MissionControl wird entfernt...")
        println()
        color(WHITE)
        println("Loesche:")
        color(DRED)
        deldir("sd:/atmosphere/contents/010000000000bd00")
        deldir("sd:/atmosphere/exefs_patches/bluetooth_patches")
        delfile("sd:/atmosphere/config/missioncontrol.ini")
        delfile("sd:/atmosphere/config_templates/missioncontrol.ini")
    }

    clear()
    
    println()
    println()
	println()
    color(WHITE)
    println("Das Tesla Menue beinhaltet einige Module:")
	color(LGREEN)
	println("amsPACK Log, Amiibos, Edizon, Overclocking, FTP, TriPlayer, Temperaturanzeige")
	println("usw.")
    println()
    color(LBLUE)
    println("Tesla FTP Modul:")
	color(LGREEN)
    println("Funktioniert bei den meisten microSD Karten, sollte die Switch beim Starten")
	println("allerdings im Blackscreen enden, so muesst ihr das Tesla-FTP Modul")
	println("deinstallieren.")
	println()
    color(LBLUE)
    println("Tesla TriPlayer Modul:")
	color(LGREEN)
    println("ca 10% der Spiele funktionieren nicht in Verbindung mit dem TriPlayer Modul.")
	println("Es gibt dann beim Spielen ein Systemcrash, da das Spiel bereits 2 Audiospuren")
	println("benoetigt und dem TriPlayer keine Audiospur mehr zur Verfuegung steht.")
    println("Die Module koennt ihr auch nachtraeglich noch ueber das Extra_Activator Script")
	println("deinstallieren.")
    println()
	color(WHITE)
    println("Wie moechtest du das Tesla Menue installieren:")
	println()
    menuOptionsTesla = ["[ALLES] Tesla Menue + alle Module", "[MANUELL] Tesla Menue + alle Module / (FTP + TriPlayer) (empfohlen)", "[NICHTS] Kein Tesla Menue + Module"]
    resTE = menu(menuOptionsTesla, 1)
	
    clear()
    
    if (resTE == 0) {
        println()
        println()
        println()
        println("Tesla Menue inkl. aller Module wird installiert...")
        println()
		color(WHITE)
		println("Installiere:")
		color(LGREEN)
        copydir("sd:/atmosphere/extras/contents/420000000007E51A", "sd:/atmosphere/contents")
        copydir("sd:/atmosphere/extras/contents/420000000000000E", "sd:/atmosphere/contents")
        copydir("sd:/atmosphere/extras/contents/4200000000000FFF", "sd:/atmosphere/contents")
        copydir("sd:/atmosphere/extras/contents/0100000000000352", "sd:/atmosphere/contents")
        copydir("sd:/atmosphere/extras/contents/00FF0000636C6BFF", "sd:/atmosphere/contents")
        copydir("sd:/atmosphere/extras/switch", "sd:/")
        copydir("sd:/atmosphere/extras/tools", "sd:/")
        copydir("sd:/atmosphere/extras/switch/.overlays", "sd:/switch")
        copydir("sd:/atmosphere/extras/switch/TriPlayer", "sd:/switch")
        copydir("sd:/atmosphere/extras/tools", "sd:/")

        clear()

    }
    if (resTE == 1) {
        println()
        println()
        println()
        println("Das Tesla Menue inkl. aller Module ohne [FTP + TriPlayer] wird installiert...")
		println()
		color(WHITE)
		println("Bereinige:")
		color(DRED)
        copydir("sd:/atmosphere/extras/contents/420000000007E51A", "sd:/atmosphere/contents")
        copydir("sd:/atmosphere/extras/contents/0100000000000352", "sd:/atmosphere/contents")
        copydir("sd:/atmosphere/extras/contents/00FF0000636C6BFF", "sd:/atmosphere/contents")
        copydir("sd:/atmosphere/extras/switch", "sd:/")
		color(DRED)	
		deldir("sd:/switch/TriPlayer")
		delfile("sd:/tools/TriPlayer-01f0d84a52f2e000.nsp")
		delfile("sd:/switch/.overlays/5_ovl-TriPlayer.ovl")
		deldir("sd:/atmosphere/contents/420000000000000E")
		delfile("sd:/switch/.overlays/4_sys-ftpd-ovl.ovl")
		
        clear()
     
        println()
        println()
		println()
		color(WHITE)
        println("Tesla Modul [FTP] installieren?")
		println()
        menuOptionsYN = ["ja", "nein"]
        resYN = menu(menuOptionsYN, 0)
  
        clear()
      
        if (resYN == 0) {
            println()
            println()
            println()
            println("Tesla Modul FTP wird installiert...")
            println()
            color(WHITE)
            println("Installiere:")
            color(LGREEN)
            copydir("sd:/atmosphere/extras/contents/420000000000000E", "sd:/atmosphere/contents")
            copydir("sd:/atmosphere/extras/switch/.overlays", "sd:/switch")
        }

        clear()
            
        if (resYN == 1) {
            println()
            println()
            println()
            println("Tesla Modul FTP wird entfernt...")
            println()
            color(WHITE)
            println("Loesche:")
            color(DRED)
            deldir("sd:/atmosphere/contents/420000000000000E")
            delfile("sd:/switch/.overlays/4_sys-ftpd-ovl.ovl")
        }
        
        clear()
            
        println()
        println()
        println()
        color(WHITE)
        println("Tesla Modul [TriPlayer] installieren?")
        println()
        menuOptionsYN = ["ja", "nein"]
        resYN = menu(menuOptionsYN, 0)

        clear()
            
        if (resYN == 0) {
            println()
            println()
            println()
            println("Tesla Modul TriPlayer wird installiert...")
            println()
            color(WHITE)
            println("Installiere:")
            color(LGREEN)
            copydir("sd:/atmosphere/extras/contents/4200000000000FFF", "sd:/atmosphere/contents")
            copydir("sd:/atmosphere/extras/switch/TriPlayer", "sd:/switch")
            copydir("sd:/atmosphere/extras/tools", "sd:/")
            copyfile("sd:/atmosphere/extras/switch/.overlays/5_ovl-TriPlayer.ovl", "sd:/switch/.overlays/5_ovl-TriPlayer.ovl")
        }
            
        clear()

        if (resYN == 1) {
            println()
            println()
            println()
            println("Tesla Modul TriPlayer wird entfernt...")
            println()
            color(WHITE)
            println("Loesche:")
            color(DRED)
            deldir("sd:/atmosphere/contents/4200000000000FFF")
            deldir("sd:/switch/TriPlayer")
            delfile("sd:/tools/TriPlayer-01f0d84a52f2e000.nsp")
            delfile("sd:/switch/.overlays/5_ovl-TriPlayer.ovl")
        }
            
        clear()

        println()
        println()
		println()
		color(LGREEN)
        println("Du kannst festlegen ueber welche Tastencombo das Tesla Menue aufgerufen wird:")
		println()
		color(WHITE)
        menuOptionsCombo = ["[L+R+PLUS] (empfohlen)", "[R2+R3]", "[MINUS+PLUS]" , "[L+R+Y]", "[L+R+X]"]
        resCO = menu(menuOptionsCombo, 0)
        
        if (resCO == 0) {
            copyfile("sd:/atmosphere/extras/teslamenue/0/config.ini", "sd:/config/tesla/config.ini")
        }
        if (resCO == 1) {
            copyfile("sd:/atmosphere/extras/teslamenue/1/config.ini", "sd:/config/tesla/config.ini")
        }
        if (resCO == 2) {
            copyfile("sd:/atmosphere/extras/teslamenue/2/config.ini", "sd:/config/tesla/config.ini")
        }
        if (resCO == 3) {
            copyfile("sd:/atmosphere/extras/teslamenue/3/config.ini", "sd:/config/tesla/config.ini")
        }
        if (resCO == 4) {
            copyfile("sd:/atmosphere/extras/teslamenue/4/config.ini", "sd:/config/tesla/config.ini")
        }
    }
	if (resTE == 2) {
        println()
        println()
        println()
        println("Tesla + Module wird entfernt...")
        println()
        color(WHITE)
        println("Loesche:")
        color(DRED)
        deldir("sd:/atmosphere/contents/420000000000000E")
        deldir("sd:/atmosphere/contents/420000000007E51A")
        deldir("sd:/atmosphere/contents/4200000000000FFF")
        deldir("sd:/atmosphere/contents/0100000000000352")
        deldir("sd:/atmosphere/contents/00FF0000636C6BFF")
        deldir("sd:/switch/.overlays")
        deldir("sd:/switch/TriPlayer")	
        delfile("sd:/tools/TriPlayer-01f0d84a52f2e000.nsp")
        
        clear()
    }
	
    clear()
    
    println()
    println()
    println()
    color(LGREEN)
    println("Einige Homebrew Apps sind nur bei der Ersteinrichtung noetig, diese koennt ihr jetzt entfernen.")
    println()
    color(DRED)
    println("Diese Homebrew Apps werden entfernt: Switch-Time + Linkalho")
    println()
    color(WHITE)
    println("Einmal Apps loeschen?")
    println()
    menuOptionsYN = ["ja", "nein"]
    resYN = menu(menuOptionsYN, 0)

    clear()

    if (resYN == 0) {
        color(WHITE)
        println()
        println()
        println()
        println()
        println("Loesche:")
        color(DRED)
        deldir("sd:/switch/linkalho")
        deldir("sd:/switch/switch-time")
    }
}

clear()

println()
println()
println()
color(LGREEN)
println("amsPACK installationsdaten werden jetzt entfernt...")
println()
color(WHITE)
println("Bereinige:")
color(DRED)
deldir("sd:/amsPACK")
delfile("sd:/scripts/Update_amsPACK-E.te")
color(WHITE)
println()
println()
println("Fertig! Die Switch schaltet sich in 10 Sek. automatisch aus.")
println()
color(DRED)
p=println
pr=print
pe= {pause() exit()}
wait= {t=timer()while(timer()<(t+tw)) {print("Poweroff in",(t+tw-timer()/1000),"sekunden \r")}}
tw=10000
wait()
power(3)
pause().raw