p=println
pe={pause() exit()}
boot=0
syscon=0
missioncontrol=0
maj=0

wait={t=timer()while(timer()<(t+tw)){print()}}

if (is_erista()){
	if (fsexists("sd:/switch/prod.keys")) 
	{
		fwstr={fw=maj.str()+"."+min.str()+"."+pat.str()}
		fv={a=readsave("bis:/save/8000000000000120")
		b=a.read("/meta/imkvdb.arc")
		c=["BYTE[]",9,8,0,0,0,0,0,1]
		d=b.find(c)
		if(d>0){
			e=b.slice(d+8,4).project()
			ver=(e[3]<<24)|(e[2]<<16)|(e[1]<<8)|(e[0])
			pat=((ver>>16)&((1<<4)- 1))
			min=((ver>>20)&((1<<6)- 1))
			maj=((ver>>26)&((1<<6)- 1))
		}.else(){print("Firmware nicht gefunden")pe()}
		a=0 fwstr()}
		if(mountsys("SYSTEM")){maj=0}
		fv()
	}.else(){
		if (fsexists("sd:/config/switchbros-helper/lockpick_sys.bin")){
			payload("sd:/config/switchbros-helper/lockpick_sys.bin")
		}.else(){
		payload("sd:/config/switchbros-helper/lockpick_sys.bin")
		}
	}
}

boot=fsexists("sd:/boot.dat")

if (fsexists("sd:/atmosphere/contents/690000000000000D/flags/boot2.flag")) {
	syscon=1
}

if (fsexists("sd:/atmosphere/contents/010000000000bd00/flags/boot2.flag")) {
	missioncontrol=1
}

# Set mission control status
#missioncontrol=0

# 1. Ordner und Dateien loeschen
p("* alte Dateien entfernen")

# Wenn es sich um ein Update handelt
if (fsexists("sd:/SwitchBros_BasisPaket")){
	delfile("sd:/atmosphere/stratosphere.romfs");
	delfile("sd:/atmosphere/hbl.nsp");
	delfile("sd:/atmosphere/reboot_payload.bin");
	delfile("sd:/atmosphere/package3");
	deldir("sd:/atmosphere/exefs_patches");
	deldir("sd:/atmosphere/kip_patches");
	deldir("sd:/atmosphere/erpt_reports");
	deldir("sd:/atmosphere/fatal_errors");
	deldir("sd:/atmosphere/contents/00FF0000000002AA");
	deldir("sd:/atmosphere/contents/00FF0000A53BB665");
	deldir("sd:/atmosphere/contents/00FF747765616BFF");
	deldir("sd:/atmosphere/contents/010000000000bd00");
	deldir("sd:/atmosphere/contents/0100000000000F12");
	deldir("sd:/atmosphere/contents/4200000000000010");
	deldir("sd:/atmosphere/contents/420000000007E51A");
	deldir("sd:/atmosphere/contents/690000000000000D");

	deldir("sd:/bootloader/sys");
	delfile("sd:/bootloader/update.bin");
	delfile("sd:/bootloader/patches.ini");

	copyfile("sd:/bootloader/hekate_ipl.ini", "sd:/switchbros/hekate_ipl.ini")
	copyfile("sd:/bootloader/nyx.ini", "sd:/switchbros/nyx.ini")
	copyfile("sd:/config/fastCFWswitch/config.ini", "sd:/switchbros/config.ini")

	delfile("sd:/switch/*.nro");

	delfile("sd:/SwitchBros_SD-Werkzeug.bat");
	delfile("sd:/exosphere.ini");
	delfile("sd:/hbmenu.nro");
	delfile("sd:/BasisApps.txt");
	
}.else(){

	deldir("sd:/atmosphere/config");
	deldir("sd:/atmosphere/config_templates");
	deldir("sd:/atmosphere/erpt_reports");
	deldir("sd:/atmosphere/exefs_patches");
	deldir("sd:/atmosphere/fatal_errors");
	deldir("sd:/atmosphere/fatal_reports");
	deldir("sd:/atmosphere/flags");
	deldir("sd:/atmosphere/hosts");
	deldir("sd:/atmosphere/kip_patches");
	deldir("sd:/atmosphere/kips");
	deldir("sd:/atmosphere/update");

	deldir("sd:/atmosphere/contents/0100000000000008");
	deldir("sd:/atmosphere/contents/010000000000100B");
	deldir("sd:/atmosphere/contents/010000000000000D");
	deldir("sd:/atmosphere/contents/010000000000002b");
	deldir("sd:/atmosphere/contents/0100000000000032");
	deldir("sd:/atmosphere/contents/0100000000000034");
	deldir("sd:/atmosphere/contents/0100000000000036");
	deldir("sd:/atmosphere/contents/0100000000000037");
	deldir("sd:/atmosphere/contents/010000000000003C");
	deldir("sd:/atmosphere/contents/0100000000000042");
	deldir("sd:/atmosphere/contents/010000000000100C");
	deldir("sd:/atmosphere/contents/010000000000100D");
	deldir("sd:/atmosphere/contents/0100000000001000");
	deldir("sd:/atmosphere/contents/0100000000001013");

	deldir("sd:/atmosphere/contents/0000000000534C56");
	deldir("sd:/atmosphere/contents/00FF0000000002AA");
	deldir("sd:/atmosphere/contents/00FF0000636C6BF2");
	deldir("sd:/atmosphere/contents/00FF0000636C6BFF");
	deldir("sd:/atmosphere/contents/00FF00006D7470FF");
	deldir("sd:/atmosphere/contents/00FF0012656180FF");
	deldir("sd:/atmosphere/contents/01FF415446660000");
	deldir("sd:/atmosphere/contents/00FF747765616BFF");
	deldir("sd:/atmosphere/contents/0100000000000052");
	deldir("sd:/atmosphere/contents/0100000000000081");
	deldir("sd:/atmosphere/contents/0100000000000352");
	deldir("sd:/atmosphere/contents/0100000000000464");
	deldir("sd:/atmosphere/contents/0100000000000523");
	deldir("sd:/atmosphere/contents/0100000000000901");
	deldir("sd:/atmosphere/contents/0100000000000BED");
	deldir("sd:/atmosphere/contents/0100000000000BEF");
	deldir("sd:/atmosphere/contents/0100000000000DAD");
	deldir("sd:/atmosphere/contents/0100000000000F12");
	deldir("sd:/atmosphere/contents/0100000000000FAF");
	deldir("sd:/atmosphere/contents/0100000000006480");
	deldir("sd:/atmosphere/contents/0100000000007200");
	deldir("sd:/atmosphere/contents/010000000000bd00");
	deldir("sd:/atmosphere/contents/010000000000C235");
	deldir("sd:/atmosphere/contents/010000000000f00f");
	deldir("sd:/atmosphere/contents/010000000000FFAB");
	deldir("sd:/atmosphere/contents/01000000001ED1ED");
	deldir("sd:/atmosphere/contents/0532232232232000");
	deldir("sd:/atmosphere/contents/054e4f4558454000");
	deldir("sd:/atmosphere/contents/2200000000000100");
	deldir("sd:/atmosphere/contents/4100000000000324");
	deldir("sd:/atmosphere/contents/4200000000000000");
	deldir("sd:/atmosphere/contents/420000000000000E");
	deldir("sd:/atmosphere/contents/420000000000000F");
	deldir("sd:/atmosphere/contents/4200000000000010");
	deldir("sd:/atmosphere/contents/4200000000000811");
	deldir("sd:/atmosphere/contents/4200000000000BA6");
	deldir("sd:/atmosphere/contents/4200000000000FFF");
	deldir("sd:/atmosphere/contents/010000000007E51A");
	deldir("sd:/atmosphere/contents/420000000007E51A");
	deldir("sd:/atmosphere/contents/4200000000474442");
	deldir("sd:/atmosphere/contents/4200000000696969");
	deldir("sd:/atmosphere/contents/4200000AF1E8DA89");
	deldir("sd:/atmosphere/contents/42000062616B6101");
	deldir("sd:/atmosphere/contents/4200736372697074");
	deldir("sd:/atmosphere/contents/4206900000000012");
	deldir("sd:/atmosphere/contents/430000000000000A");
	deldir("sd:/atmosphere/contents/430000000000000B");
	deldir("sd:/atmosphere/contents/430000000000000C");
	deldir("sd:/atmosphere/contents/43000000000000FF");
	deldir("sd:/atmosphere/contents/4300000000000909");
	deldir("sd:/atmosphere/contents/5600000000000000");
	deldir("sd:/atmosphere/contents/690000000000000D");

	deldir("sd:/bootloader");
	
	deldir("sd:/switch/.overlays");
	deldir("sd:/switch/*amsPACK*");
	deldir("sd:/switch/*ShallowSea*");
	deldir("sd:/switch/NightFall");
	deldir("sd:/switch/*kefir*");
	deldir("sd:/switch/fw-downloader");
	deldir("sd:/switch/download-helper");
	deldir("sd:/switch/lithium");
	deldir("sd:/switch/FreshHay");
	deldir("sd:/switch/TriPlayer");
	deldir("sd:/switch/nx-ntpc");
	deldir("sd:/switch/KosmosToolbox");
	deldir("sd:/switch/KosmosUpdater");
	deldir("sd:/switch/mercury");
	deldir("sd:/switch/LinkUser");
	deldir("sd:/switch/pplay");
	deldir("sd:/switch/NX-Update-Checker");
	deldir("sd:/switch/switch-time");
	deldir("sd:/switch/incognito");
	deldir("sd:/switch/ChoiDujourNX");
	deldir("sd:/switch/NXMPforMe");
	deldir("sd:/switch/SX*");
	deldir("sd:/switch/daybreak");
	deldir("sd:/switch/nxmtp");
	deldir("sd:/switch/reboot_to_payload");
	deldir("sd:/switch/Lockpick");
	deldir("sd:/switch/n1dus");
	deldir("sd:/switch/ChoiDujourNX");
	deldir("sd:/switch/nx-ntpc");
	deldir("sd:/switch/incognito");
	deldir("sd:/switch/ultimate_updater");
	deldir("sd:/switch/zerotwoxci.nro");
	deldir("sd:/switch/dOPUS");
	deldir("sd:/switch/fakenews-injector");
	deldir("sd:/switch/gag-order");
	deldir("sd:/switch/tinfoil/db");
	deldir("sd:/switch/tinfoil/licenses");
	deldir("sd:/switch/tinfoil/themes");
	deldir("sd:/switch/tinwoo");
	deldir("sd:/switch/tinleaf");
	delfile("sd:/switch/dbi.libusbhsfs" );
	delfile("sd:/switch/tinfoil/keys.txt");
	delfile("sd:/switch/tinfoil/tinfoil.nro");
	delfile("sd:/switch/tinfoil/options.json");
	delfile("sd:/switch/*.nro");
	delfile("sd:/switch/*.ini");
	delfile("sd:/switch/*.jar");

	deldir("sd:/config/btred");
	deldir("sd:/config/N-Xplorer");
	deldir("sd:/config/reinx-spoofer");
	deldir("sd:/config/ShallowSea-updater");
	deldir("sd:/config/amsPACK*");

	deldir("sd:/atmo");
	deldir("sd:/btpair");
	deldir("sd:/Custom-Themes");
	deldir("sd:/Firmware*");
	deldir("sd:/games");
	deldir("sd:/modules");
	deldir("sd:/music");
	deldir("sd:/NSPs");
	deldir("sd:/pegascape");
	deldir("sd:/*warmboot*");
	deldir("sd:/SaltySD");
	deldir("sd:/scripts");
	deldir("sd:/sept");
	deldir("sd:/sxos");
	deldir("sd:/themes/ThemezerNX/customLegends");
	deldir("sd:/themes/systemData");
	deldir("sd:/System Volume Information");
	deldir("sd:/tegra*");
	deldir("sd:/tools*");
	delfile("sd:/hbmenu.nro");
	delfile("sd:/*.dat");
	delfile("sd:/*.bin");
	delfile("sd:/*.ini");
	delfile("sd:/*.zip");
	delfile("sd:/*.exe");
	delfile("sd:/*.bat");
	delfile("sd:/*.txt");
	delfile("sd:/*.te");
}
  p()
  p("Abgeschlossen")
  wait(tw = 1000)

# if update 
if (fsexists("sd:/SwitchBros_BasisPaket")) {
# 2. Switch Bros. Paket auf SD kopieren
	clear()
	p("* Kopiere Switch Bros. Paket auf SD-Karte")
	
	deldir("sd:/SwitchBros_BasisPaket/switch/switchbrosupdater/")
	copydir("sd:/SwitchBros_BasisPaket/atmosphere", "sd:/")
	copydir("sd:/SwitchBros_BasisPaket/bootloader", "sd:/")
	copydir("sd:/SwitchBros_BasisPaket/config", "sd:/")
	copydir("sd:/SwitchBros_BasisPaket/NSPs", "sd:/")
	copydir("sd:/SwitchBros_BasisPaket/switch", "sd:/")

	if(boot) {
		copyfile("sd:/SwitchBros_BasisPaket/boot.dat", "sd:/boot.dat")
		copyfile("sd:/SwitchBros_BasisPaket/boot.ini", "sd:/boot.ini")
		copyfile("sd:/SwitchBros_BasisPaket/payload.bin", "sd:/boot.ini")
	}
	copydir("sd:/SwitchBros_BasisPaket/tegraexplorer", "sd:/")
	copyfile("sd:/SwitchBros_BasisPaket/exosphere.ini", "sd:/exosphere.ini")
	copyfile("sd:/SwitchBros_BasisPaket/hbmenu.nro", "sd:/hbmenu.nro")
	copyfile("sd:/SwitchBros_BasisPaket/BasisApps.txt", "sd:/BasisApps.txt")
	copyfile("sd:/switchbros/hekate_ipl.ini" "sd:/bootloader/hekate_ipl_.ini")
	copyfile("sd:/switchbros/nyx.ini" "sd:/bootloader/nyx.ini")
	copyfile("sd:/switchbros/config.ini", "sd:/config/fastCFWswitch/config.ini")
	
	delfile("sd:/atmosphere/stratosphere.romfs.aio");
	delfile("sd:/atmosphere/fusee-secondary.bin.aio");
	delfile("sd:/sept/payload.bin.aio");
	delfile("sd:/payload.bin.aio");
	p()
	p("Abgeschlossen")
	wait(tw = 1000)
}

# Attribute reparieren und MacOS Kram loeschen
clear()
p("* Entferne MacOS bezogenen Muell")
removemacfolders()
p()
p("Abgeschlossen")
wait(tw = 1000)

clear()
p("* Behebe Attribute")
fixattrib()
p()
p("Abgeschlossen")
wait(tw = 1000)

# 3. Hinter uns aufräumen und ordnen
clear()
p("* Entferne Update Ordner")

if (!boot) {
	delfile("sd:/boot.dat");
	delfile("sd:/boot.ini")
	delfile("sd:/payload.bin")
	delfile("sd:/bootloader/payloads/hwfly_toolbox.bin")
	
}.else(){

	deldir("sd:/config/fastCFWswitch");
	deldir("sd:/atmosphere/contents/0100000000000F12");
	deldir("sd:/switch/appstore/.get/packages/fastCFWswitch");
	deldir("sd:/switch/appstore/.get/packages/Fizeau");
	deldir("sd:/switch/Fizeau");
	delfile("sd:/bootloader/payloads/CommonProblemResolver.bin");
	delfile("sd:/switch/.overlays/*Fizeau*.*");
	delfile("sd:/switch/.overlays/*fastCFWswitch*.*");
}

if (!missioncontrol) {
	deldir("sd:/atmosphere/contents/010000000000bd00")
	deldir("sd:/config/missioncontrol")
}
	deldir("sd:/switchbros");
	delfile("sd:/tegraexplorer/scripts/Switch_Bros.te");
	delfile("sd:/atmosphere/stratosphere.romfs.aio");
	delfile("sd:/atmosphere/fusee-secondary.bin.aio");
	delfile("sd:/sept/payload.bin.aio");
	delfile("sd:/payload.bin.aio");

if (maj != 4) {
	if (fuse_patched()){
		deldir("sd:/switch/fakenews-injector");
		deldir("sd:/pegascape");
		delfile("sd:/bootloader/payloads/Incognito_RCM.bin");
	}
}.else(){
	delfile("sd:/boot.dat")
	delfile("sd:/boot.ini")
}
	
p()
p("Abgeschlossen")

# 5. Neustart in hekate 
clear()
color(GRUEN)
p("Das neue Switch Bros. Paket wurde erfolgreich installiert!")
p()
p("Neustart in hekate")
wait(tw = 3000)

if (is_erista()) {
	payload("sd:/atmosphere/reboot_payload.bin")
}.else(){
	reboot_ofw();
}